
#### 變數

```python
# 以下有很多不同的變數，你可以試試看 print(type(變數名稱)) 了解他們是什麼變數
a = 1
b = [1,2,3]
c = (1,2,3)
d = {1,2,3}
e = {'a':1, 'b':2, 'c':3}
f = 'a'
g = 'abcde'
h = {'apple': "蘋果", 'banana':'香蕉', 'cat': 'my favorite'}
I = '我'
k = 2+3j
```

In [20]:
a = 1
b = [1,2,3]
c = (1,2,3)
d = {1,2,3}
e = {'a':1, 'b':2, 'c':3}
f = 'a'
g = 'abcde'
h = {'apple': "蘋果", 'banana':'香蕉', 'cat': 'my favorite'}
I = '我'
j = 3
k = 2+1j/2


print(type(k))
print(k*(3+4j))
print(h['apple'])

<class 'complex'>
(4+9.5j)
蘋果

In [21]:
M = [[1,2,3],[4,5,6],[7,8,9,'x'],'x']
# M = [M[0],M[1],M[2],...]
# M[0] = [1,2,3], M[0][0] = 1, M[0][1] = 2, M[0][2] = 3
print(type(M))
print(M)
print(M[0])
print(M[1])
print(M[3])
print(M[0][2])
M[0][2] = 'a'
print(M)

<class 'list'>
[[1, 2, 3], [4, 5, 6], [7, 8, 9, 'x'], 'x']
[1, 2, 3]
[4, 5, 6]
x
3
[[1, 2, 'a'], [4, 5, 6], [7, 8, 9, 'x'], 'x']

In [ ]:
L = (1,2,3)
print(L[1])
L[1] = 5

In [ ]:
N = {3.14159,1,2,3,1,4,7,-1,5.6}
print(N)
for x in N:
  print(x)

{1, 2, 3.14159, 3, 4, 5.6, 7, -1}
1
2
3.14159
3
4
5.6
7
-1

In [ ]:
P = '1'

print(int(P)-int('5'))
print(str(1)+str(5))

-4
15

#### 使用範例：

```python
for element in iterable:
    # 做一些事情

```
請透過上面的範例，改

In [ ]:
a = 1
b = [1,2,3]
c = (1,2,3)
d = {1,2,3}
e = {'a':1, 'b':2, 'c':3}
k = 2+3j

以下就是星期五要交的工作
1. 寫一個變數，型別是字典，就是說明你在這一週學到的python關鍵字
2. 寫一個程式，可以體驗出( ), [ ] 以及 {} 這三種不同變數的差別
3. 寫一個程式，找出int, float, str的極限在哪裡？
4. 請把上面課程有介紹的部分，加上你自已的註解。
5. 請把這個檔案，透過另存新檔，或是分享連結的方式，繳交到moodle中。

以下是第一題的答案

In [ ]:
python_keyword = { 'print': '輸出' ,
                    'type': '類型' ,
                    'int' : '整數' ,
                    'float': '浮點數' ,
                    'str': '字串' ,
                    'dict': '字典' }

以下是第二題的答案

In [6]:
print("() :" ,type(()))
print("[] :" ,type([]))
print("{} :" ,type({}))

() : <class 'tuple'>
[] : <class 'list'>
{} : <class 'dict'>

以下是第三題的答案

In [7]:
import sys

int_limit = sys.maxsize
print("Integer limit:", int_limit)

float_limit = sys.float_info.max
print("Float limit:", float_limit)

str_limit = sys.maxsize
print("String limit:", str_limit)

Integer limit: 9223372036854775807
Float limit: 1.7976931348623157e+308
String limit: 9223372036854775807

以下是第四題的答案

In [ ]:
a = 1 #int
b = [1,2,3] #list
c = (1,2,3) #tuple
d = {1,2,3} #set
e = {'a':1, 'b':2, 'c':3} #dict
f = 'a' #str
g = 'abcde' #str
h = {'apple': "蘋果", 'banana':'香蕉', 'cat': 'my favorite'} #dict
I = '我' #str
j = 3 #int
k = 2+1j/2 #complex


print(type(k)) #輸出 k 的型態
print(k*(3+4j)) # 輸出 k*(3+4j)
print(h['apple']) # 輸出 h['apple'] 的對應值

In [ ]:
M = [[1,2,3],[4,5,6],[7,8,9,'x'],'x']
# M = [M[0],M[1],M[2],...]
# M[0] = [1,2,3], M[0][0] = 1, M[0][1] = 2, M[0][2] = 3
print(type(M)) # 輸出 M 的型態
print(M) # 輸出 M
print(M[0]) # 輸出 M 的第 1 個值
print(M[1]) # 輸出 M 的第 2 個值
print(M[3]) # 輸出 M 的第 4 個值
print(M[0][2]) # 輸出 M 的第 1 個 的第 2 個值
M[0][2] = 'a' # M 的第 1 個 的第 2 個值 = 'a'
print(M) # 輸出 M